.content_bitcoin {
  border: solid 5px #364f6b;

  border-radius: 5px 0 0 5px;

  display: flex;
  flex-direction: column;

  padding: 10px;

  height: 87vh;
}

.input_number_bitcoin {
  height: 10vh;
  width: 25%;

  font-size: 28px;

  margin-bottom: 10px;
}

.header_number_converted {
  margin-bottom: 10px;
}

.container_bitcoins {
  margin-top: 10px;
  padding-top: 10px;

  border-top: solid 4px #364f6b;
}

.nice_font {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  color: #364f6b;
}