* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pusher {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}