.margin_top {
  margin-top: 15px;
}

.accordion {
  border-top: solid 2px #3dd9d6;
  border-bottom: solid 2px #3dd9d6;

  padding: 4px 10px;
}

.accordion_title {
  font-size: 25px;
  
  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;

  color: #3dd9d6;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.accordion_body {
  font-size: 18px;
  
  text-decoration: none;

  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;

  color: #3dd9d6;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  display: none;
}

.accordion:hover {
  .accordion_body {
    display: block !important;
  }
}