.navbar {
  display: flex;
  align-items: center;

  padding-left: 10px;

  height: 10vh;
  width: 100%;

  border-radius: 0 0 0 8px;

  margin-bottom: 10px;

  background-color: #364f6b;
}

.navbar .header {
  width: 100%;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  color: #3dd9d6;
}