.sidebar {
  width: 25%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  margin-right: 10px;

  background-color: #364f6b;
}

.logo {
  width: 60%;

  text-align: center;

  margin: 0 auto;
  margin-bottom: 50px;
}
