.content {
  border: solid 5px #364f6b;

  border-radius: 5px 0 0 5px;

  display: flex;

  padding: 10px;

  height: 87vh;
}

.nice_font {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  color: #364f6b;
}