.content_converter {
  border: solid 5px #364f6b;

  border-radius: 5px 0 0 5px;

  display: flex;
  flex-direction: column;

  padding: 10px;

  height: 87vh;
}

h1 {
  width: 10px;

  margin: 5px 0 -25px 0;
}

.conversion_number {
  width: 50%;
  height: 60px;

  font-size: 25px;
}

.converted_number {
  width: 50%;
  height: 60px;

  margin-top: -5px;

  font-size: 25px;
}

.input_text_converted {
  width: 10%;

  margin: 20px 0;

  text-align: center;
}

.button_converter {
  margin-top: 10px;

  cursor: pointer;
  height: 5vh;
}

.margin_left {
  margin-left: 10px;
}

.margin_right {
  margin-right: 10px;
}

.container_coins {
  margin-top: 10px;
  padding-top: 10px;

  border-top: solid 4px #364f6b;
}

.nice_font {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  color: #364f6b;
}